<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Client Setup</title>

	<!-- Bootstrap core CSS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="static/page_style.css" rel="stylesheet">
	<script type="text/javascript" src="static/client_setup_state.js"></script>

	<!-- Custom styles for this template -->
	<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }



	</style>

	<script type="text/javascript">


		 function finalCheckBeforeSubmit()
    {
    var tp = $('input[name="tp_product"]:checked').attr("id");
    $('input[name="was_test_prep_purchased"]').val(tp);
    var ca = $('input[name="college_apps_product"]:checked').attr("id");
    $('input[name="was_college_apps_purchased"]').val(ca);

    if ($('input[name="turn_on_installments"]').val() != "" && $('input[name="installment_date_1"]').val() == "" && $('input[name="installment_date_2"]').val() == "" && $('input[name="installment_date_3"]').val() == "")
    {
    $('input[name="installment_date_1"]').prop('required', true);
    $('input[name="installment_date_2"]').prop('required', true);
    $('input[name="installment_date_3"]').prop('required', true);
	//$('input[name="turn_on_installments"]').prop('checked', true);
    }
    else
    {
    $('input[name="installment_date_1"]').prop('required', false);
    $('input[name="installment_date_2"]').prop('required', false);
    $('input[name="installment_date_3"]').prop('required', false);
	//$('input[name="turn_on_installments"]').prop('checked', true);

    }

    $('input[name="tp_total"]').attr('disabled', false);
    $('input[name="college_apps_total"]').attr('disabled', false);
    $('input[name="adjust_total"]').attr('disabled', false);
    $('input[name="invoice_total"]').attr('disabled', false);

    }






     function populateFieldsFromSearch(result)
     {

     //alert('Hello');
     $('input[name="first_name"]').val(result.first_name);
     $('input[name="last_name"]').val(result.last_name);
     $('input[name="email"]').val(result.email);
     $('input[name="phone_number"]').val(result.phone_number);
     $('input[name="invoice_code_to_show"]').prop('hidden', false);
     $('input[name="invoice_code_to_show"]').attr('disabled', true);
     $('input[name="invoice_code_to_show"]').val(result.invoice_code);
     $('input[name="stripe_customer_id"]').val(result.stripe_customer_id);

	//

     if (result.was_diagnostic_purchased == "yes")
     {
     	$('input[name="was_diagnostic_purchased"]').prop('checked', true);
     	$('input[name="diag_units"]').val(result.diag_units);
     	$('input[name="diag_total"]').val(result.diag_total);
     }

     //

     if (result.was_test_prep_purchased != "")
     {
      $('input[name="was_test_prep_purchased"]').val("yes");
     $('input[name="was_test_prep_purchased"]').prop('checked', true);
     $('input[name="tp_product"]').attr('disabled', false);
     $('input[name="tp_units"]').val(result.tp_units);
     $('input[name="tp_total"]').val(result.tp_total);
     $('input[name="tp_units"]').attr('disabled', false);

     if (result.was_test_prep_purchased == "tp-tech-12wks")
     {
     $('input[id="tp-tech-12wks"]').prop('checked', true);
     }

     if (result.was_test_prep_purchased == "tp-tech-08wks")
     {
     $('input[id="tp-tech-08wks"]').prop('checked', true);
     }

     if (result.was_test_prep_purchased == "tp-tech-01wk")
     {
     $('input[id="tp-tech-01wk"]').prop('checked', true);
     }

     if (result.was_test_prep_purchased == "tp-vensti-12wks")
     {
     $('input[id="tp-vensti-12wks"]').prop('checked', true);
     }

     if (result.was_test_prep_purchased == "tp-vensti-08wks")
     {
     $('input[id="tp-vensti-08wks"]').prop('checked', true);
     }

     if (result.was_test_prep_purchased == "tp-vensti-01wk")
     {
     $('input[id="tp-vensti-01wk"]').prop('checked', true);
     }

     if (result.was_test_prep_purchased == "tp-home-12wks")
     {
     $('input[id="tp-home-12wks"]').prop('checked', true);
     }

     if (result.was_test_prep_purchased == "tp-home-08wks")
     {
     $('input[id="tp-home-08wks"]').prop('checked', true);
     }

     if (result.was_test_prep_purchased == "tp-home-01wk")
     {
     $('input[id="tp-home-01wk"]').prop('checked', true);
     }

     }


	//

	if (result.was_college_apps_purchased != "")
     {
     $('input[name="was_college_apps_purchased"]').val("yes");
     	$('input[name="was_college_apps_purchased"]').prop('checked', true);
     	$('input[name="college_consultation"]').prop('checked', true);
     $('input[name="college_apps_product"]').attr('disabled', false);
     $('input[name="college_apps_units"]').val(result.college_apps_units);
     $('input[name="college_apps_total"]').val(result.college_apps_total);
     $('input[name="college_apps_units"]').attr('disabled', false);
     $('input[name="college_consultation"]').attr('disabled', false);

     if (result.was_college_apps_purchased == "apps-1")
     {
     $('input[id="apps-1"]').prop('checked', true);
     }

     if (result.was_college_apps_purchased == "apps-2")
     {
     $('input[id="apps-2"]').prop('checked', true);
     }

     if (result.was_college_apps_purchased == "apps-3")
     {
     $('input[id="apps-3"]').prop('checked', true);
     }


     }

	//


	if (result.turn_on_installments == "True")
     {
     $('input[name="turn_on_installments"]').val("yes");
     	$('input[name="turn_on_installments"]').prop('checked', true);


     if (result.installment_date_1 != "1/1/1")
     {
      $('input[name="installment_date_1"]').attr('disabled', false);

       var someDate = new Date(result.installment_date_1);
       someDate.setDate(someDate.getDate() - 1);
        var dd = (someDate.getDate() + 1 < 10) ? "0" + (someDate.getDate() + 1) : someDate.getDate() + 1
        var mm = (someDate.getMonth() + 1 < 10) ? "0" + (someDate.getMonth() + 1) : someDate.getMonth() + 1
        var yy = someDate.getFullYear();
        var someFormattedDate = yy + '-' + mm + '-' + dd;

      $('input[name="installment_date_1"]').val(someFormattedDate);
     }

     if (result.installment_date_2 != "1/1/1")
     {
      $('input[name="installment_date_2"]').attr('disabled', false);

       var someDate = new Date(result.installment_date_2);
       someDate.setDate(someDate.getDate() - 1);
        var dd = (someDate.getDate() + 1 < 10) ? "0" + (someDate.getDate() + 1) : someDate.getDate() + 1
        var mm = (someDate.getMonth() + 1 < 10) ? "0" + (someDate.getMonth() + 1) : someDate.getMonth() + 1
        var yy = someDate.getFullYear();
        var someFormattedDate = yy + '-' + mm + '-' + dd;

      $('input[name="installment_date_2"]').val(someFormattedDate);
     }

     if (result.installment_date_3 != "1/1/1")
     {
      $('input[name="installment_date_3"]').attr('disabled', false);

       var someDate = new Date(result.installment_date_3);
       someDate.setDate(someDate.getDate() - 1);
        var dd = (someDate.getDate() + 1 < 10) ? "0" + (someDate.getDate() + 1) : someDate.getDate() + 1
        var mm = (someDate.getMonth() + 1 < 10) ? "0" + (someDate.getMonth() + 1) : someDate.getMonth() + 1
        var yy = someDate.getFullYear();
        var someFormattedDate = yy + '-' + mm + '-' + dd;

      $('input[name="installment_date_3"]').val(someFormattedDate);
     }

     }

     //


		$('input[name="adjust_total"]').prop('readonly', false);
        $('input[name="adjustment_explanation"]').prop('readonly', false);


     $('input[name="adjust_total"]').val(result.adjust_total);
     $('input[name="adjustment_explanation"]').val(result.adjustment_explanation);
     $('input[name="invoice_total"]').val(result.invoice_total);


     }


      function finalCheckBeforeModify()
      {
       finalCheckBeforeSubmit();
      	var dataToModify = {};
      	dataToModify['first_name'] = $('input[name="first_name"]').val();
      	dataToModify['last_name'] = $('input[name="last_name"]').val();
      	dataToModify['email'] = $('input[name="email"]').val();
      	dataToModify['phone_number'] = $('input[name="phone_number"]').val();
      	dataToModify['adjust_total'] = $('input[name="adjust_total"]').val();
      	dataToModify['adjustment_explanation'] = $('input[name="adjustment_explanation"]').val();
      	dataToModify['invoice_total'] = $('input[name="invoice_total"]').val();
      	dataToModify['was_diagnostic_purchased'] = $('input[name="was_diagnostic_purchased"]').val();
      	dataToModify['was_diagnostic_purchased'] = $('input[name="was_diagnostic_purchased"]').val();
      	dataToModify['diag_total'] = $('input[name="diag_total]').val();
      	dataToModify['was_test_prep_purchased'] = $('input[name="was_test_prep_purchased"]').val();
      	dataToModify['tp_units'] = $('input[name="tp_units"]').val();
      	dataToModify['tp_total'] = $('input[name="tp_total"]').val();
      	dataToModify['was_college_apps_purchased'] = $('input[name="was_college_apps_purchased"]').val();
      	dataToModify['college_apps_units'] = $('input[name="college_apps_units"]').val();
      	dataToModify['college_apps_total'] = $('input[name="college_apps_total"]').val();
      	dataToModify['turn_on_installments'] = $('input[name="turn_on_installments"]').val();
      	dataToModify['installment_date_1'] = $('input[name="installment_date_1"]').val();
      	dataToModify['installment_date_2'] = $('input[name="installment_date_2"]').val();
      	dataToModify['installment_date_3'] = $('input[name="installment_date_3"]').val();
		dataToModify['invoice_code'] = $('input[name="invoice_code_to_show"]').val();
		dataToModify['stripe_customer_id'] = $('input[name="stripe_customer_id"]').val();

      	$('input[id="data_to_modify"]').val(JSON.stringify(dataToModify));

      }

      function finalCheckBeforeDelete()
      {
      	$('input[id="invoice_code_to_delete"]').val($('input[name="invoice_code_to_show"]').val());
      }

	</script>
</head>


<body class="bg-light">
<div class="container">
	<div class="py-5 text-center">
		<img class="d-block mx-auto mb-4" src="/static/logo.png" alt="" width="200" height="150">
		<h2>Invoice Creation</h2>
		<p class="lead">_________________________</p>
	</div>

	<br>
	<br>


	<div class="row">
		<div class="col-md-4 order-md-2 mb-4">
			<form class="card p-2" action="{{ url_for('search_invoice') }}" method="post">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Enter search query" id="search_query" name="search_query">
					<div class="input-group-append">
						<input class="btn btn-secondary" type="submit" value="Search"></input>
					</div>
				</div>
			</form>

			<div>
				<br><br>

				 {% if search_results %}
  <h4 class="mb-3">Search Result</h4>
  {% endif %}


				<div >

					 <div class="col-md-12 mb-3" >

    {% for result in search_results %}
    <a href="javascript:populateFieldsFromSearch({{ result }});">
        {{ result.first_name+" "+result.last_name+" "+result.invoice_code+" "+result.date_created }}
    </a>
						 <br><br><br>
    {% endfor %}

						 {% if search_results %}
						 <div style="display: flex; justify-content: space-around;margin-right:50px">


							 <div style="margin-left:50px"><form action="{{ url_for('modify_invoice') }}" method="post">

								 <input class="btn btn-primary btn-lg btn-block" type="submit" value="Modify" onclick="finalCheckBeforeModify();">
									 <input id="data_to_modify" name="data_to_modify" hidden>

								 </form></div>


							 <div style="margin-left:50px"><form action="{{ url_for('delete_invoice') }}" method="post">
								 <input class="btn btn-primary btn-lg btn-block" type="submit" value="Delete" onclick="finalCheckBeforeDelete();">
								 <input id="invoice_code_to_delete" name="invoice_code_to_delete" hidden>
							  </form></div>

							 <div style="margin-left:50px">
								 <input class="btn btn-primary btn-lg btn-block" style="border:none; background-color:red; color:black !important" id="invoice_code_to_show" name="invoice_code_to_show" type="button" hidden >
								<input id="stripe_customer_id" name="stripe_customer_id" hidden >

							 </div>

							 </div>
						 {% endif %}


</div>

					 <div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>

				</div>


		</div>

		</div>


		<div class="col-md-8 order-md-1">
			<br><br><br><br><br>
			<h4 class="mb-3">Client Information</h4>
			<form class="needs-validation" action="{{ url_for('create_invoice') }}" method="post"
				  data-toggle="validator">
				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="first_name">First name</label>
						<input type="text" class="form-control" id="first_name" name="first_name" placeholder="" value=""
							   required>
						<div class="invalid-feedback">
							Valid first name is required.
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<label for="last_name">Last name</label>
						<input type="text" class="form-control" id="last_name" name="last_name" placeholder="" value=""
							   required>
						<div class="invalid-feedback">
							Valid last name is required.
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" name="email" placeholder="you@example.com"
						   required>
					<div class="invalid-feedback">
						Please enter a valid email address.
					</div>
				</div>

				<div class="mb-3">
					<label for="phone_number">Phone number</span></label>
					<input type="tel" class="form-control" id="phone_number" name="phone_number"
						   placeholder="111-111-1111" required>
					<div class="invalid-feedback">
						Please enter a valid phone number.
					</div>
				</div>

				<br><br><br>

				<h4 class="mb-3">Product Information</h4>

				<div class="d-block my-3">
					<div container>
						<p class="lead">Initial diagnostic/consultation</p>

				<div class="checkbox mb-3" style="text-align:center;">

							<input id="was_diagnostic_purchased" name="was_diagnostic_purchased" value="" type="checkbox"
								   class="custom-control-input">
							<label class="custom-control-label" for="was_diagnostic_purchased">Diagnostic/Consultation</label>
							<br><br><br>
						</div>

						</div>
					</div>


				<div class="d-block my-3">
					<div container>

						<div class="row">

						<div class="col-sm">
								<div class="mb-3">
									<input id="diag_units" name="diag_units" type="number" min="1" class="form-control"
										   required>
									<label for="diag_units"># of Units</label>
								</div>
							</div>
							<div class="col-sm">
								<div class="mb-3">
									<input id="diag_total" name="diag_total" type="number" class="form-control"
										   required readonly>
									<label for="diag_total">Diagnostic/Consultation Total</label>
								</div>
							</div>
						</div>

					</div>

				</div>




				<div class="d-block my-3">
					<div container>
						<p class="lead">Test prep</p>

						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" value="" id="was_test_prep_purchased"
									   name="was_test_prep_purchased"> Turn on test prep info
							</label>
						</div>

						<div class="row">


							<div class="col-sm">
								<div class="custom-control custom-radio">
									<input id="tp-home-12wks" name="tp_product" value="4699" type="radio"
										   class="custom-control-input"
										   required>
									<label class="custom-control-label" for="tp-home-12wks">12 Weeks Prep (Home)</label>
								</div>
								<div class="custom-control custom-radio">
									<input id="tp-home-08wks" name="tp_product" value="3379" type="radio"
										   class="custom-control-input"
										   required>
									<label class="custom-control-label" for="tp-home-08wks">8 Weeks Prep (Home)</label>
								</div>
								<div class="custom-control custom-radio">
									<input id="tp-home-01wk" name="tp_product" value="375" type="radio"
										   class="custom-control-input"
										   required>
									<label class="custom-control-label" for="tp-home-01wk">1 Week Prep (Home)</label>
								</div>

							</div>
							<div class="col-sm">

								<div class="custom-control custom-radio">
									<input id="tp-vensti-center-12wks" value="3999" name="tp_product" type="radio"
										   class="custom-control-input" required>
									<label class="custom-control-label" for="tp-vensti-center-12wks">12 Weeks Prep
										(Vensti)</label>
								</div>
								<div class="custom-control custom-radio">
									<input id="tp-vensti-center-08wks" value="2749" name="tp_product" type="radio"
										   class="custom-control-input" required>
									<label class="custom-control-label" for="tp-vensti-center-08wks">8 Weeks Prep
										(Vensti)</label>
								</div>
								<div class="custom-control custom-radio">
									<input id="tp-vensti-center-01wk" value="300" name="tp_product" type="radio"
										   class="custom-control-input"
										   required>
									<label class="custom-control-label" for="tp-vensti-center-01wk">1 Week Prep
										(Vensti)</label>
								</div>

							</div>

							<div class="col-sm">

								<div class="custom-control custom-radio">
									<input id="tp-tech-12wks" value="3999" name="tp_product" type="radio"
										   class="custom-control-input"
										   required>
									<label class="custom-control-label" for="tp-tech-12wks">12 Weeks Prep (Tech)</label>
								</div>
								<div class="custom-control custom-radio">
									<input id="tp-tech-08wks" value="2749" name="tp_product" type="radio"
										   class="custom-control-input"
										   required>
									<label class="custom-control-label" for="tp-tech-08wks">8 Weeks Prep (Tech)</label>
								</div>
								<div class="custom-control custom-radio">
									<input id="tp-tech-01wk" value="300" name="tp_product" type="radio"
										   class="custom-control-input"
										   required>
									<label class="custom-control-label" for="tp-tech-01wk">1 Week Prep (Tech)</label>
								</div>

							</div>


						</div>

					</div>

				</div>


				<br><br>

				<div class="d-block my-3">
					<div container>

						<div class="row">


							<div class="col-sm">
								<div class="mb-3">
									<input id="tp_units" name="tp_units" type="number" min="1" class="form-control"
										   required>
									<label for="tp_units"># of Units</label>
								</div>
							</div>
							<div class="col-sm">
								<div class="mb-3">
									<input id="tp_total" name="tp_total" type="number" class="form-control"
										   required readonly>
									<label for="tp_total">Test Prep Total</label>
								</div>
							</div>
						</div>

					</div>

				</div>

				<hr class="mb-4">

				<div class="d-block my-3">
					<div container>
						<p class="lead">Essays</p>

						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" name="was_college_apps_purchased" id="was_college_apps_purchased"
									   value=""> Turn on essays info
							</label>
						</div>

						<div class="custom-control custom-radio" style="text-align:center;">

							<input id="college_consultation" name="college_consultation" value="275" type="radio"
								   class="custom-control-input">
							<label class="custom-control-label" for="college_consultation">Consultation/Advisory
								Services</label>
							<br><br><br>
						</div>

						<div class="row">


							<div class="col-sm">
								<div class="custom-control custom-radio">
									<input id="apps-1" value="375" name="college_apps_product" type="radio"
										   class="custom-control-input"
										   required>
									<label class="custom-control-label" for="apps-1">Per Essay</label>
								</div>
							</div>
							<div class="col-sm">

								<div class="custom-control custom-radio">
									<input id="apps-2" value="1450" name="college_apps_product" type="radio"
										   class="custom-control-input"
										   required>
									<label class="custom-control-label" for="apps-2">1-3 Colleges</label>
								</div>

							</div>

							<div class="col-sm">

								<div class="custom-control custom-radio">
									<input id="apps-3" value="1600" name="college_apps_product" type="radio"
										   class="custom-control-input"
										   required>
									<label class="custom-control-label" for="apps-3">More Than 3 Colleges</label>
								</div>

							</div>


						</div>

					</div>

				</div>


				<br><br>


				<div class="d-block my-3">
					<div container>

						<div class="row">


							<div class="col-sm">
								<div class="mb-3">
									<input id="college_apps_units" name="college_apps_units" type="number" min="1"
										   class="form-control"
										   required>
									<label for="college_apps_units"># of Units</label>
								</div>
							</div>
							<div class="col-sm">
								<div class="mb-3">
									<input id="college_apps_total" name="college_apps_total" type="number"
										   class="form-control"
										   required readonly>
									<label for="college_apps_total">College Apps Total</label>
								</div>
							</div>
						</div>

					</div>

				</div>


				<hr class="mb-4">

				<div class="d-block my-3">
					<div container>
						<p class="lead">Options</p>
						<br>


							<div class="checkbox mb-3">
							<label>
								<input type="checkbox" name="turn_on_installments" id="turn_on_installments"
									   value=""> Turn on installments
							</label>
						</div>

						<div class="row">


							<div class="form-group">
								<div class="col-12"  id="installment_date_1">
									<input class="form-control" type="date" value="" name="installment_date_1">
								</div>
							</div>
							<div class="form-group">
								<div class="col-12" id="installment_date_2">
									<input class="form-control" type="date" value=""  name="installment_date_2">
								</div>
							</div>

							<div class="form-group">
								<div class="col-12" id="installment_date_3" >
									<input class="form-control" type="date" value="" name="installment_date_3">
								</div>
							</div>


						</div>

					</div>

				</div>

				<br>

				<div class="d-block my-3">
					<div container>

						<div class="row">


							<div class="col-sm">
								<div class="mb-3">
									<input id="adjust_total" name="adjust_total" type="number" value=""
										   class="form-control">
									<label for="adjust_total">Adjust Total(+/-)</label>
								</div>
							</div>

						</div>

						<br>

						<div class="row">


							<div class="col-sm">
								<div class="mb-3">
									<input id="adjustment_explanation" name="adjustment_explanation" type="text"
										   value="" class="form-control">
									<label for="adjustment_explanation">Adjustment Explanation</label>
								</div>
							</div>

						</div>

						<br>
						<hr class="mb-4">

						<p class="lead">Total</p>

						<div class="row">


							<div class="col-sm">
								<div class="mb-3">
									<input id="invoice_total" name="invoice_total" type="number" class="form-control"
										   required readonly>
									<label for="invoice_total">Invoice Total</label>
								</div>
							</div>
						</div>

						<br>

						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" id="mark_as_paid"
									   name="mark_as_paid"> Mark as paid
							</label>
						</div>


					</div>

				</div>


				<br><br>


				<input class="btn btn-primary btn-lg btn-block" type="submit" value="Create Invoice"
					   onclick="finalCheckBeforeSubmit();"></input>
			</form>
		</div>
	</div>

	<hr>

	<footer class="my-5 pt-5 text-muted text-center text-small">
		<p class="mb-1">&copy; 2017-2021 Perfect Score Mo</p>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="#">Privacy</a></li>
			<li class="list-inline-item"><a href="#">Terms</a></li>
			<li class="list-inline-item"><a href="#">Support</a></li>
		</ul>
	</footer>
</div>
</script>
</body>
</html>
